_eolang/
_minted-*
paper-*/
.DS_Store
.idea/
*-SAVE-ERROR
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.pyg
*.run.xml
*.synctex.gz
*.zip
iexec.ret
iexec.tmp
node_modules/
package/
_tex/*.tex
