*-SAVE-ERROR
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.pyg
*.run.xml
*.synctex.gz
*.zip
.DS_Store
.eoc/
.idea/
_eolang/
_minted-*
_tex/*.tex
iexec.ret
iexec.tmp
node_modules/
package/
paper-*/
