# SPDX-FileCopyrightText: Copyright (c) 2016-2025 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: latexmk
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
concurrency:
  group: latexmk-${{ github.ref }}
  cancel-in-progress: true
defaults:
  run:
    shell: sh
jobs:
  latexmk:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: yegor256/latexmk-action@0.18.1
        with:
          cmd: >-
            (curl -fsSL https://deb.nodesource.com/setup_18.x | sh) &&
            apt-get install --yes nodejs &&
            wget -q -O /usr/bin/phino http://phino.objectionary.com/releases/ubuntu-24.04/phino-latest &&
            chmod a+x /usr/bin/phino &&
            npm install -g eolang &&
            latexmk
          opts: -pdf
          depends: DEPENDS.txt
